.dashboard {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.dashboard .head-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

.dashboard .head-stats .child {
  background-color: white;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  width: calc((100% - 80px) / 4 - 10px);
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard .head-stats .child .content {
  display: flex;
  align-items: center;
}

.dashboard .head-stats .child .details {
  font-weight: 500;
  color: var(--main-green);
  cursor: pointer;
}

.dashboard .head-stats .child .content .logo {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: var(--main-blue);
  border-radius: 50%;
  border: 8px solid var(--third-blue);
}

.dashboard .head-stats .child.sales .logo {
  background-color: var(--main-green);
  border-color: var(--third-green);
}

.dashboard .head-stats .child.profit .logo {
  background-color: var(--main-yellow);
  border-color: var(--third-yellow);
}
.dashboard .head-stats .child.orders .logo {
  background-color: var(--main-red);
  border-color: var(--third-red);
}

.dashboard .head-stats .child .content .logo .icon {
  color: white;
  width: 30px;
  height: 30px;
}

.dashboard .head-stats .child .content .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dashboard .head-stats .child .content .text .head {
  font-size: 1.35rem;
  font-weight: 500;
}

.dashboard .head-stats .child .content .text .number {
  font-size: 2rem;
  font-weight: 200;
}

.dashboard .head-history {
  margin-top: 40px;
  border-radius: 10px;
  background-color: white;
}

.dashboard .head-history table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard .head-history table th,
.dashboard .head-history table td {
  border-bottom: 1px solid var(--main-bg);
  padding: 10px 20px;
  vertical-align: middle;
  text-align: left;
  font-size: 18px;
}

.dashboard .head-history table th {
  color: var(--main-grey);
}
.dashboard .head-history table td {
  color: black;
  font-weight: 500;
}
.dashboard .head-history table tbody:last-child td {
  border: none;
}

.dashboard .bottom-row {
  margin-top: 40px;
  height: 100%;
  /* overflow: hidden; */
  /* padding-bottom: 40px; */
  display: flex;
  gap: 40px;
}

.dashboard .monthly-progress {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 0 20px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.dashboard .monthly-progress h2 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}

.dashboard .monthly-progress .chart {
  display: flex;
  height: 100%;
  gap: 15px;
  align-items: flex-end;
}

.dashboard .monthly-progress .chart .scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dashboard .monthly-progress .scale .unit {
  color: var(--main-grey);
  font-weight: 200;
}

.dashboard .monthly-progress .values {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-left: 2px solid var(--main-bg);
  align-items: flex-start;
  border-bottom: 2px solid var(--main-bg);
  padding: 0 10px;
}

.dashboard .monthly-progress .values .month {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 2px;
}

.dashboard .monthly-progress .values .name {
  display: flex;
  justify-content: center;
  order: -1;
  font-weight: 500;
  color: var(--main-grey);
  margin-bottom: 4px;
  font-size: 18px;
}

.dashboard .monthly-progress .values .value {
  position: relative;
  width: 30px;
  height: 100%;
  display: inline-block;
  background-color: var(--main-bg);
  border-radius: 4px;
}

.dashboard .monthly-progress .values .value::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  z-index: 8;
  width: 100%;
  height: var(--progress);
  background-color: var(--main-green);
  border-radius: 4px;
}

.dashboard .bottom-row .orders {
  border-radius: 10px;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard .bottom-row .orders h2 {
  margin: 20px 20px 0;
  font-weight: 300;
}

.dashboard .bottom-row .orders table {
  width: 100%;
}

.dashboard .bottom-row .orders table th,
.dashboard .bottom-row .orders table td {
  padding: 10px 20px;
  border-bottom: 1px solid var(--main-bg);
  vertical-align: middle;
  text-align: left;
  color: var(--main-grey);
  font-weight: 500;
}
.dashboard .bottom-row .orders table td {
  color: black;
}
