.manage-users {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.manage-users h1 {
  margin: 0 0 20px 0;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 300;
}

.manage-users .add-user {
  background-color: var(--main-green);
  color: white;
  padding: 10px;
  align-items: center;
  margin: 20px 0;
  box-shadow: inset 0 -2px 0px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: fit-content;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.manage-users .add-user span {
  font-weight: 500;
  font-size: 14px;
}
.manage-users .add-user .icon {
  width: 16px;
  height: 16px;
}

.manage-users .users {
  border-radius: 10px;
  height: calc(100% - 140px);
  background-color: white;
  width: 100%;
  overflow-y: auto;
  display: inline-block;
}

.manage-users table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.manage-users table th,
.manage-users table td {
  border-bottom: 1px solid var(--main-bg);
  vertical-align: middle;
  text-align: left;
  padding: 16px 20px;
}

.manage-users table th {
  color: var(--main-grey);
  width: 500px;
}
.manage-users table th:first-child {
  width: 100px;
}

.manage-users table td {
  color: #000;
  font-weight: 500;
}

.manage-users table td > button {
  user-select: none;
  -webkit-user-select: none;
  color: var(--main-blue);
  background-color: var(--third-blue);
  border: 2px solid var(--second-blue);
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: 500;
  cursor: pointer;
}

.manage-users table td .admin {
  padding: 4px 8px;
  border-radius: 8px;
  color: black;
  font-weight: 500;
}

.manage-users .edit {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 400px;
  height: 380px;
  background-color: white;
  z-index: 8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-users .edit-overlay {
  /* transition: 0.2s; */
  height: 100vh;
  /* border-radius: 8px; */
  width: 100vw;
  background-color: #000;
  /* opacity: 0; */
  /* z-index: -1; */
  top: 0;
  left: 0;
  position: absolute;
  content: "";
}

.manage-users .edit .close-icon {
  align-self: flex-start;
  width: 35px;
  height: 35px;
}

.manage-users .edit button {
  border-radius: 8px;
  background-color: var(--main-blue);
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 4px 8px;
  box-shadow: inset 1 -2px 0px 0px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
}

.manage-users .edit form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.manage-users .edit .child {
  display: flex;
}

.manage-users .edit .child label {
  width: 120px;
  font-weight: 500;
  color: var(--main-grey);
  display: flex;
  align-items: center;
}

.manage-users .edit .child input {
  padding: 4px 8px;
  border: 2px solid var(--second-blue);
  color: var(--main-blue);
  font-weight: 500;
  background: var(--third-blue);
  border-radius: 8px;
}
.manage-users .edit .child input:focus {
  outline: none;
}

.manage-users .edit .child .admin {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  width: calc(100% - 120px);
  display: flex;
  justify-content: center;
}

.manage-users .edit .child .admin .in {
  background-color: var(--third-blue);
  padding: 4px 8px;
  border: 2px solid var(--second-blue);
  border-radius: 8px;
  color: var(--main-blue);
}
