:root {
  --main-bg: rgb(229, 229, 229);
  --main-color: rgb(0, 0, 0);
  --main-blue: #5065f6;
  --second-blue: #a7b1f9;
  --third-blue: #edeffe;
  --main-red: #f04b69;
  --third-red: #fcdce1;
  --main-green: #28b95e;
  --third-green: #d4f1df;
  --main-grey: #757b82;
  --main-yellow: #ffdb45;
  --third-yellow: #fff8da;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  background-color: var(--main-bg);
  color: var(--main-color);
}

body {
  margin: 0;
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
}

#App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.bxs {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
